In [13]:
import pandas as pd

In [14]:
data=pd.read_csv('salary_dataset.csv')

In [15]:
data.head(2)

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0

In [16]:
data.drop(columns="Unnamed: 0",inplace=True)

In [17]:
data.head(2)

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0

In [18]:
x=data[['YearsExperience']]
y=data['Salary']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [64]:
len(x_train)

24

In [66]:
len(x_test)

6

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [26]:
dc=DecisionTreeRegressor()
dc.fit(x_train,y_train)
dc.score(x_train,y_train)*100, dc.score(x_test,y_test)*100

(99.99631319936537, 80.21759743735161)

In [27]:
sv=SVR()
sv.fit(x_train,y_train)
sv.score(x_train,y_train)*100, sv.score(x_test,y_test)*100

(-18.924674434476273, -86.41837486109101)

In [28]:
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)
knn.score(x_train,y_train)*100, knn.score(x_test,y_test)*100

(97.27940460388179, 90.14140752957685)

# vs

In [29]:
from sklearn.ensemble import VotingRegressor

In [60]:

model=[ ('dc1',DecisionTreeRegressor()),
        ('sv1',SVR()),                                               
        ('knn1',KNeighborsRegressor()) ]                                 
    
vr=VotingRegressor(model,weights=[13,26,52])
vr.fit(x_train,y_train)
vr.score(x_train,y_train)*100,vr.score(x_test,y_test)*100

(87.08942689724374, 70.97576016175276)

# here it is  models vs votingregressor prediction comparison (Average)

In [61]:
prd={'dc':dc.predict(x_test),'sv':sv.predict(x_test),'knn':knn.predict (x_test),'vr':vr.predict(x_test)}

In [62]:
data=pd.DataFrame(prd)

In [70]:
data.head(3)            # here we compare above models through dataframe, vs voting prediction

         dc            sv       knn             vr
0  116970.0  62176.413939  115250.0  100331.832554
1   66030.0  62168.271648   59395.4   61135.449042
2  101303.0  62177.024442  106312.4   92986.664126